.btn {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    border: none;
}

.btnPrimary {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: var(--primary);
    box-shadow: inset .2rem .2rem 1rem var(--primary-light), inset -.2rem -.2rem 1rem var(--primary-dark), .3rem .3rem .6rem var(--greyLight-2), -.2rem -.2rem .5rem var(--white);
    color: var(--greyLight-1);
}

.btnSecondary {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    color: var(--greyDark);
}

.btnSecondary:hover {
    color: var(--primary);
}

.btnSecondary:active {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2), inset -.2rem -.2rem .5rem var(--white);
}

.btn p {
    font-size: 1.6rem;
}


.btnPrimary:hover {
    color: var(--white);
}

.btnPrimary:active {
    box-shadow: inset .2rem .2rem 1rem var(--primary-dark), inset -.2rem -.2rem 1rem var(--primary-light);
}